{{=<% %>=}}

<nav class="clearfix swContainer footer">
    <!--If item doesn't have dropdown add it to the first list.-->
    <ul class="col-sm-3">
        <%# items %>
            <%^ dropdown %>
                <li>
                    <a href="<% href %>" title="<% title %>"><% text %></a>
                </li>
            <%/ dropdown %>
        <%/ items %>
    </ul>


    <%# items %>
        <%# dropdown %>
            <ul class="col-sm-3">
                <li>
                    <a href="<% href %>" title="<% title %>"><% text %></a>
                </li>
                <%# childLinks %>
                <li>
                    <a href="<% href %>" title="<% title %>"><% text %></a>
                </li>
                <%/ childLinks %>
            </ul>
        <%/ dropdown %>
    <%/ items %>
</nav>